<mat-toolbar>
    <button mat-mini-fab color="warn" [matMenuTriggerFor]="navMenu">
        <mat-icon>dashboard</mat-icon>
    </button>
    <span class="example-icon"></span>
    <mat-icon>{{iconTitle}}</mat-icon>
    {{pageTitle}}
    <span class="example-spacer"></span>
    <mat-icon [color]="userStatusColor" routerLink="/product">shop</mat-icon>
    <span class="example-icon"></span>
    <mat-icon [color]="userStatusColor" routerLink="/admin">account_box</mat-icon>
    <span class="example-icon"></span>
    <mat-icon matBadge={{counter}} matBadgePosition="below" matBadgeColor="warn">shopping_cart</mat-icon>
    <span class="example-icon"></span>
    <mat-icon [matMenuTriggerFor]="helpMenu">help</mat-icon>
    <span class="example-icon"></span>

    

    <mat-menu #helpMenu="matMenu">
        <div *ngIf="helpTitle=='Settingspagehelp'">
            Pomoc dotyczaca ustawien
        </div>
        <div *ngIf="helpTitle=='Aboutuspagehelp'">
            Pomoc dotycza strony o nas
        </div>
      </mat-menu>

      <mat-menu #navMenu="matMenu">
          <a href="{{configData.fblink}}" target="_blank"><button mat-menu-item><mat-icon svgIcon="fb"></mat-icon></button></a>
          <a href="{{configData.instalink}}" target="_blank"><button mat-menu-item><mat-icon svgIcon="insta"></mat-icon></button></a>
          <a href="{{configData.linkedinlink}}" target="_blank"><button mat-menu-item><mat-icon svgIcon="linked"></mat-icon></button></a>
          <button mat-menu-item routerLink="/aboutus"><mat-icon>info</mat-icon></button>
          <button mat-menu-item routerLink="/admin"><mat-icon>settings</mat-icon></button>
      </mat-menu>

</mat-toolbar>